<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title class="PineappleJavaUX">PineappleJavaUX</title>
    <script defer src="https://unpkg.com/vue@3.2.47"
        integrity="sha384-mgp1hnBYcnmsGPH4Gggyec1hk0SHNDFRiPziZ9r5ZfLLV9nr5uLprnqdOCR5sQHQ"
        crossorigin="anonymous"></script>
    <script defer src="script.js"></script>
</head>

<body>
    <div id="app">
        <button @click="fetchData">KLICKA SA JAAGGGG</button>
        <img v-if="image" :src="image" alt="Bild">
      <!--  <div v-for="item of itemList" :key="index" class="record">-->
            <p>{{itemList}}</p>
        </div>
    </div>
</body>

</html>