.fetchedImage {
    height: 200px;
    width: auto;
}

/*MOBILEN*/
/*Huvudmeny*/
.startmenubutton {
    background-color: gray;
    border-radius: 25px;
    padding: 0.5rem;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 30px;
    background-color: burlywood;
    border-radius: 3px;
    font-family: fantasy;
    box-shadow: 0 1px 0 #666, 0 5px 0 #444, 0 6px 6px rgba(0, 0, 0, 0.6);

}

.startGameArrow {
    width: 5rem;
    margin-top: 0rem;
    background-color: burlywood;
    font-family: fantasy;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 0 1px 0 #666, 0 5px 0 #444, 0 6px 6px rgba(0, 0, 0, 0.6);
}


/*Playerselection*/
/*.oneplayer,
.twoplayer,
.stopButton {
    display: block;
    text-align: center;
    padding: 0.5rem;
    margin: 5rem;
    background-color: burlywood;
    font-family: fantasy;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 0 1px 0 #666, 0 5px 0 #444, 0 6px 6px rgba(0, 0, 0, 0.6);
} */

.nextButton {
    display: block;
    font-size: 150%;
    background-color: burlywood;
    font-family: fantasy;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 0 1px 0 #666, 0 5px 0 #444, 0 6px 6px rgba(0, 0, 0, 0.6);
}

.selection {
    flex-direction: column;
}

/*NEW CSS*/
body {
    height: 100vh;
    background-image: url('assets/bakgrund2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0;
    padding: 0;
}

.startmenubutton {
    display: flex;
    width: 350px;
    height: 72px;
    padding: 10px 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;

    color: var(--Beige, #F5DFBD);
    text-align: center;
    /* Mobile_H3 */
    font-family: Inconsolata;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: 32px;
    /* 114.286% */
    width: 20rem;
    border-radius: 10px;
}

.playbutton {
    background: var(--Turkos-200, #1A7475);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-top: -6rem;
}

.scoreboardbutton {
    background: var(--Brun, #552C2D);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-top: 0rem;
}

.gamerulesbutton {
    background: transparent;
    box-shadow: none;

    color: var(--Brun, #552C2D);
    /* Desktop_H4 */
    font-family: Inconsolata;
    font-size: 22px;
    font-style: normal;
    font-weight: 800;
    line-height: 23px;
    /* 104.545% */
    margin-top: 6rem;
}

.oneplayer {
    background: var(--Orange, #F05537);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-top: -6rem;
}

.twoplayer {
    background: var(--Turkos-100, #1D9594);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-top: -0rem;
}

.backtomenu {
    position: fixed;
    top: 20px;
    left: 20px;
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 30px;
    height: 25px;
    background-image: url('assets/Vector.svg');
    background-color: transparent;
    border: none;
}

.easy {
    background: var(--Turkos-200, #1A7475);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-top: -7rem;
}

.hard {
    background: var(--Orange-200, #BC361C);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-top: 1rem;
}

.difficultytext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: var(--Brun, #552C2D);
    font-family: Inconsolata;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 3rem;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-80%, 0%);
}

.easytext {
    margin-top: -4.5rem;

}

.hardtext {
    margin-top: 3.5rem;
}

.choosedifficultytext {
    color: var(--Brun, #552C2D);
    /* Mobile_H2 */
    font-family: Inconsolata;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 40.04px;
    /* 100.1% */
    margin-top: -14rem;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* MUSEUM */
.museum-big-image-div {
    aspect-ratio: 1 / 1;
    width: 80%;
    border-radius: 1em 1em 0 0;
    overflow: hidden;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

.museum-big-image {
    width: 100%;
    z-index: 0;
}

.museum-text-container {
    width: 80%;
    height: 8em;
    overflow: scroll;
    background-color: white;
    padding: 0.5em;
    box-sizing: border-box;
    border-radius: 0 0 1em 1em;
    margin-top: 0;
    margin-bottom: 1em;
}

/* Stil för de små bilderna */
.museum-small-images {
    display: flex;
    justify-content: space-between; /* Justera layout efter behov */
    width: 80%; /* Sätt bredden till 100% för att anpassa sig till storleken på den stora bilden */
    box-sizing: border-box; /* Inkludera padding i totalbredden */
}

.museum-small-image {
    width: 18%; /* Justera storlek efter behov */
    aspect-ratio: 1 / 1;
    cursor: pointer;
    border-radius: 5px;
}

/* Stil för behållaren för den stora bilden och små bilderna */
.museum-image-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrera innehållet vertikalt */
    width: 100%;
    margin-top: 5%;
}






@media screen and (min-width: 576px) {

    /*DESKTOPPEN*/
    /*Huvudmeny*/
    body {
        background-color: White;
    }

    .startmenubutton {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .playbutton {
        font-size: 50px;
        width: 20rem;
        margin-top: 0rem;
    }

    .scoreboardbutton {
        font-size: 22px;
        width: 10rem;
        margin-left: -5rem;
        margin-top: 4rem;
    }

    .gamerulesbutton {
        font-size: 22px;
        width: 10rem;
        margin-left: 5rem;
        margin-top: 4rem;
    }



    /*Playerselection*/


    .selection {
        display: flex;
        flex-direction: row;
    }

    .oneplayer,
    .twoplayer,
    .stopButton {
        margin: 3rem;
        font-size: 150%;
    }

    .museum-big-image-div, .museum-text-container, .museum-small-images {
        width: 25%;
    }
}



.main-flex {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-family: fantasy;

}

a {
    text-decoration: none;
}







/*Feel free to delete this, it's just for ease of testing*/

.beta-nav {
    display: flex;
    flex-direction: row;
}

.beta-nav a:last-child {
    margin-left: auto;
}

@media screen and (min-width: 576px) {}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 992px) {}

@media screen and (min-width: 1200px) {}