.fetchedImage {
    height: 200px;
    width: auto;
}

/*MOBILEN*/
/*Huvudmeny*/
.startmenubutton {
    background-color: gray;
    border-radius: 25px;
    padding: 0.5rem;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 30px;
}

.playbutton {
    width: 20rem;
    margin-top: -7rem;
}

.scoreboardbutton {
    width: 20rem;
    margin-top: 0rem;
}

.gamerulesbutton {
    width: 20rem;
    margin-top: 7rem;
}


/*Playerselection*/
.oneplayer,
.twoplayer,
.stopButton {
    display: block;
    text-align: center;
    padding: 0.5rem;
    margin: 5rem;
    font-size: 300%;
    background-color: burlywood;
    font-family: fantasy;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 0 1px 0 #666, 0 5px 0 #444, 0 6px 6px rgba(0, 0, 0, 0.6);
}

.selection {
    flex-direction: column;
}


@media screen and (min-width: 576px) {

    /*DESKTOPPEN*/
    /*Huvudmeny*/
    body {
        background-color: White;
    }

    .startmenubutton {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .playbutton {
        font-size: 50px;
        width: 20rem;
        margin-top: 0rem;
    }

    .scoreboardbutton {
        font-size: 22px;
        width: 10rem;
        margin-left: -5rem;
        margin-top: 4rem;
    }

    .gamerulesbutton {
        font-size: 22px;
        width: 10rem;
        margin-left: 5rem;
        margin-top: 4rem;
    }



    /*Playerselection*/


    .selection {
        display: flex;
        flex-direction: row;
    }

    .oneplayer,
    .twoplayer,
    .stopButton {
        margin: 3rem;
        font-size: 150%;
    }

}



.main-flex {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-family: fantasy;

}

a {
    text-decoration: none;
}

.oneplayer:hover,
.twoplayer:hover {
    font-size: 175%;
}


.oneplayer:active,
.twoplayer.active {
    font-size: 175%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    transform: scale(0.95);
}




/****************Scoreboard Things****************/
.scoreboardNavbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;

    top: 0rem;
    width: 100%;

    background-color: blueviolet;
    padding: 0.2rem;
    margin-bottom: 2rem;

    row-gap: 10px;
}

nav ul {
    width: 80%;
    list-style: none;
    display: flex;
}

nav ul li {
    gap: 10px;
    padding: 0.3rem;
}

.scoreboardnavbutton {

}

.scoreboardHeader {
    text-align: center;
}

.scoreboardTableContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    background-color: red;
}

.scoreboardHeadRow {
    width: 90%;
    list-style: none;
    display: flex;
}

.scoreboardInfoRow {
    width: 90%;
    list-style: none;
    display: flex;
}

.p-cont {
    width: 80%;
    list-style: none;
    display: flex;
}








.scoreboard {
    display: flex;
    flex-direction: column;
    margin: 0 8% 0 8%;
    text-align: center;
    font-family: Inconsolata, sans-serif;
    font-size: 20px;
    color: rgba(85, 44, 45, 1);
}

.scoreboard_row {
    color: rgba(245, 223, 189, 1);
    font-size: 25px;
    font-weight: 700;
    margin: 0.2em 0 0.2em 0;
    display: flex;
    text-align: center;
}

.scoreboard_cell {
    flex: 1;
    padding: 0.3em;
    background-color: rgba(26, 116, 117, 1);
}

.scoreboard_cell:last-child {
    color: rgba(26, 116, 117, 1);
    background-color: rgba(0,0,0,0);
    cursor: pointer;
}

.scoreboard_cell:first-child {
    border-radius: 0.5em 0em 0em 0.5em;
}

.scoreboard_cell:nth-child(4) {
    border-radius: 0em 0.5em 0.5em 0em;
}

.scoreboard_header_cell {
    flex: 1;
    color: rgba(26, 116, 117, 1);
    padding: 0.3em;
}