* {
    box-sizing: border-box;
}

.fetchedImage {
    height: 200px;
    width: auto;
}

/*MOBILEN*/
/*Huvudmeny*/
button {
    cursor: pointer;
}

.startmenubutton {
    background-color: gray;
    border-radius: 25px;
    padding: 0.5rem;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 30px;
    background-color: burlywood;
    border-radius: 3px;
    font-family: fantasy;
    box-shadow: 0 1px 0 #666, 0 5px 0 #444, 0 6px 6px rgba(0, 0, 0, 0.6);

}

.game-rules {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: Inconsolata, sans-serif;
    color: rgba(85, 44, 45, 1);
    background-color: rgba(217, 237, 235, 1);
}

/*Honestly, .mobile-nav is just being used to center .backarrow, it otherwise isn't necessary, but I don't want to 
write more CSS or HTML to do so, so this will have to do.*/
.game-rules .mobile-nav .backarrow {
    position: fixed;
    top: 20px;
}

.game-rules h1 {
    font-weight: 800;
    font-size: 25px;
}

.game-rules p,
.game-rules li {
    font-weight: 400;
    font-size: 16px;
    padding: 0 2em 0 2em;
    margin-bottom: 0;
    margin-top: 0.6em;
}

/****************Scoreboard Things****************/
.scoreboard {
    display: flex;
    flex-direction: column;
    margin: 0 8% 0 8%;
    text-align: center;
    font-family: Inconsolata, sans-serif;
    font-size: 20px;
    color: rgba(85, 44, 45, 1);
}

.scoreboard_row {
    color: rgba(245, 223, 189, 1);
    font-size: 20px;
    font-weight: 700;
    margin: 0.2em 0 0.2em 0;
    display: flex;
    text-align: center;
}

.scoreboard_cell {
    flex: 1;
    padding: 0.3em;
    background-color: rgba(26, 116, 117, 1);
}

.scoreboard_cell:last-child {
    color: rgba(26, 116, 117, 1);
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
}

.scoreboard_cell:first-child {
    border-radius: 0.5em 0em 0em 0.5em;
}

.scoreboard_cell:nth-child(4) {
    border-radius: 0em 0.5em 0.5em 0em;
}

.scoreboard_header_cell {
    flex: 1;
    color: rgba(26, 116, 117, 1);
    padding: 0.3em;
}


/*Playerselection*/
/*.oneplayer,
.twoplayer
 */


.stopButton {
    width: 100px;
    margin-top: 20px;
    margin-inline-start: 1rem;
    cursor: pointer;
}

.stopButton:hover {
    cursor: pointer;
}


.nextButton {
    position: fixed;
    font-size: 25px;
    font-weight: 800;
    color: rgba(85, 44, 45, 1);
    background-color: transparent;
    border: transparent;
    font-family: Inconsolata, sans-serif;
    cursor: pointer;
    right: 8px;
    bottom: 8px;
}

.player-selection {
    flex-direction: column;
}

/*NEW CSS*/
body {
    height: 100vh;
    background-image: url('assets/bakgrund2_small.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0;
    padding: 0;
}

.difficulty-selection {
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/    /*The text below "Enkel" and "Svår" wont stay centered with these turned on*/
    /*align-items: center;*/        /*The text below "Enkel" and "Svår" wont stay centered with these turned on*/
    padding: 0rem;
}

body.difficulty-selection {
    background: var(--Turkos-50, #caf0eb);
}

body.count-down {
    background: var(--Turkos-200, #1A7475);

    margin: 0;
    padding: 0;
    overflow: hidden;
}

body.main-menu {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.diff-select-all-player-box {
    display: flex;
    flex-wrap: wrap;

}
.diff-select-player-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
}
.diff-select-player-box input {
    height: 28px;
    width: 120px;
    font-size: 20px;

    box-sizing: border-box;
}
.startmenubutton {
    display: flex;
    width: 350px;
    height: 72px;
    padding: 10px 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;

    color: var(--Beige, #F5DFBD);
    text-align: center;
    /* Mobile_H3 */
    font-family: Inconsolata, sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: 32px;
    /* 114.286% */
    width: 20rem;
    border-radius: 10px;
}

.playbutton {
    background: var(--Turkos-200, #1A7475);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-top: -6rem;
}

.scoreboardbutton {
    background: var(--Brun, #552C2D);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-top: 0rem;
}

.gamerulesbutton {
    background: transparent;
    border: none;
    box-shadow: none;

    color: var(--Brun, #552C2D);
    /* Desktop_H4 */
    font-family: Inconsolata, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 800;
    line-height: 23px;
    /* 104.545% */
    margin-top: 6rem;
}

.oneplayer {
    background: var(--Orange, #F05537);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-top: -6rem;
}

.twoplayer {
    background: var(--Turkos-100, #1D9594);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-top: -0rem;
}

.mobile-nav {
    display: flex;
    top: 20px;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    gap: 80px;
    padding: 1rem;
    padding-top: 20px;
    width: 100%;
}

.topicon {
    /*position: fixed;*/        /*Removed to make the mobile nav-bar work.*/
    /*top: 20px;*/
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 30px;
    height: 25px;
    background-color: transparent;
    border: none;
    background-repeat: no-repeat;
}

.backarrow {
    /*left: 20px;*/
    background-image: url('assets/ArrowVector.svg');
}

.scoreboardicon {
    left: 48%;
    background-image: url('assets/MedalVector.svg');
}

.backtomenu {
    /*right: 20px;*/
    background-image: url('assets/HouseVector.svg');
}

.easy {
    background: var(--Turkos-200, #1A7475);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-top: -7rem;
}

.hard {
    background: var(--Orange-200, #BC361C);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-top: 1rem;
}

.difficultytext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: var(--Brun, #552C2D);
    font-family: Inconsolata, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 3rem;
    width: 200px;

    position: absolute;
    top: 50%;
    /*transform: translate(-50%, 0);*/ /*It won't stay centered with this turned on*/
}

.easytext {
    margin-top: -4.5rem;
}

.hardtext {
    margin-top: 3.5rem;
}

.choosedifficultytext {
    color: var(--Brun, #552C2D);
    /* Mobile_H2 */
    font-family: Inconsolata, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 40.04px;
    /* 100.1% */
    margin-top: -14rem;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.countdowntext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;

    color: var(--Beige, #F5DFBD);

    text-align: center;
    /* Mobile_H1 */
    font-family: Inconsolata, sans-serif;
    font-size: 70px;
    font-style: normal;
    font-weight: 900;
    /*line-height: 1.2;*/       /*Pick which line-height you prefer*/
    /*line-height: 40.04px;*/   /*except for this one*/
    line-height: 1em;
    overflow: hidden;
    /* 80.08% */
}

.introtext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    transform: translateY(-50px);
    opacity: 0;
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.introimage {
    width: 80.154px;
    height: 115.454px;
    flex-shrink: 0;
    background-image: url('assets/IntroVector.svg');
}

.bigintrotext {
    color: var(--Brun, #552C2D);

    font-family: Outfit, sans-serif;
    font-size: 44.677px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.smallintrotext {

    color: var(--Brun, #552C2D);

    font-family: Inconsolata, sans-serif;
    font-size: 24.821px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.aboutGameText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120vh;
    margin-left: 1rem;
    color: var(--Brun, #552C2D);
    transform: translate(0rem, -16rem);

    font-family: Inconsolata, sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    margin-top: 60px;
}


/* MUSEUM */
.museum-big-image-div {
    aspect-ratio: 1 / 1;
    width: 80%;
    border-radius: 0.5em;
    overflow: hidden;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.museum-big-image-div-twoPlayer {
    aspect-ratio: 1 / 1;
    width: 80%;
    border-radius: 0.5em;
    overflow: hidden;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    margin: auto;
}

.museum-big-image {
    width: 100%;
    z-index: 0;

    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.museum-text-container {
    width: 80%;
    height: 5em;
    overflow: scroll;
    background-color: rgba(245, 223, 189, 1);
    padding: 0.5em;
    box-sizing: border-box;
    border-radius: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 1em;
    font-size: 17px;
    font-weight: 800;
}

/* Stil för de små bilderna */
.museum-small-images {
    display: flex;
    justify-content: space-between;
    /* Justera layout efter behov */
    width: 80%;
    /* Sätt bredden till 100% för att anpassa sig till storleken på den stora bilden */
    box-sizing: border-box;
    /* Inkludera padding i totalbredden */
}

.museum-small-image {
    width: 18%;
    /* Justera storlek efter behov */
    aspect-ratio: 1 / 1;
    cursor: pointer;
    border-radius: 5px;
}

/* Stil för behållaren för den stora bilden och små bilderna */
.museum-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centrera innehållet vertikalt */
    width: 100%;
    font-family: Inconsolata, sans-serif;
    color: rgba(85, 44, 45, 1);
    font-size: 25px;
}

.main-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-family: Inconsolata, sans-serif;
    color: rgba(85, 44, 45, 1);
    font-size: 25px;
    font-weight: 800;
    text-align: center;
}

.exit-symbol {
    position: fixed;
    top: 20px;
    left: 20px;
    cursor: pointer;
}

.exit-symbol-light {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: rgb(245, 223, 189);
    border-radius: 50%;
    padding: 2px;
}

.wrong-answer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(85, 44, 45, 1);
    color: rgba(245, 223, 189, 1);
}

.game-over {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(26, 116, 117, 1);
    color: rgba(245, 223, 189, 1);
}

.navbar {
    z-index: 1000;
   position: relative;
    display: none;
    background-color: #333;
    color: #fff;
    padding: 10px 0;

    align-items: center;
}

.navbar-logo img {
    width: auto;
    height: 30px;
    padding-left: 10px;
    padding-top: 5px;
    padding-right: 15px;
}

.navbar-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
}

.timer-symbol {
    position: fixed;
    top: 20px;
    right: 60px;
}

.navbar-nav li:last-child {
    margin-left: auto;
}

.nav-item {
    display: inline-block;
    margin-right: 1rem;
}

.nav-item a {
    color: var(--Beige, #F5DFBD);
    text-decoration: none;
    padding: 5px 10px;

    font-family: Inconsolata, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 23px;
    /* 104.545% */
}

.nav-item a:hover {
    background-color: #555;
}

.timer-num {
    position: fixed;
    top: -19px;
    right: 18px;
    font-family: Inconsolata, sans-serif;
    font-size: 36px;
    font-weight: 800;
}

.answer-view {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(245, 223, 189, 1);
}

.answer-view-playerTwo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--Turkos-50, #D9EDEB);
}

.date {
    width: 70%;
    height: 8%;
    font-family: Inconsolata, sans-serif;
    border: transparent;
    font-size: 37px;
    font-weight: 800;
    text-align: center;
    border-radius: 0.5em;
}

.submitButton {
    width: 70%;
    height: 8%;
    font-family: Inconsolata, sans-serif;
    border: transparent;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    border-radius: 0.5em;
    margin-top: 0.5em;
    background-color: rgba(240, 85, 55, 1);
    color: rgba(245, 223, 189, 1);
}

.beegSubmitButton {
    height: 10%;
}

@media screen and (min-width: 576px) {

    /*DESKTOPPEN*/
    /*Huvudmeny*/
    body {
        background-color: White;
        background-image: url('assets/bakgrund2.png');
    }

    /*
    .homePageContainer {

    }
    */

    .homePageContainer2 button {
        display: none;
    }

    .startmenubutton {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: transparent;
    }

    .playbutton {
        /*  font-size: 50px;
        width: 20rem;
        margin-top: 0rem; */
        /*transform: translateX(20px);*/

        border-radius: 11.429px;
        background: var(--Turkos-200, #1A7475);
        box-shadow: 0px 4.571px 4.571px 0px rgba(0, 0, 0, 0.25);

        
    }

    .scoreboardbutton {
        /*    font-size: 22px;
        width: 10rem;
        margin-left: -5rem;*/
        margin-top: 4rem;

        border-radius: 11.389px;
        box-shadow: 0px 4.556px 4.556px 0px rgba(0, 0, 0, 0.25);
    }

    .gamerulesbutton {
        display: none;
    }

    /*Playerselection*/


    .player-selection {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    /*
    .difficulty-selection {
    }
    */

    .museum-big-image-div {
        max-width: 600px;
        max-height: 400px;
    }

    .museum-small-image {
        max-width: 100px;
        min-width: 50px;
    }

    /*
    .museum-big-image-div,
    .museum-text-container,
    .museum-small-images {
        width: 25%;
    }
    */
    .museum-big-image-div, .museum-small-images, .museum-text-container {
        width: 30%;
    }
    .museum-big-image-div-twoPlayer, .museum-small-images, .museum-text-container {
     width:65%;
    }

    .navbar {
        display: flex;
        margin-left: 0;
    }

    .navbar-nav {
        margin-left: 0;
    }

    .backtomenu {
        display: none;
    }

    .game-rules .backarrow {
        display: flex;
    }

    .backarrow {
        display: none;
    }

    .scoreboardicon {
        display: none;
    }

    .exit-symbol {
        position: fixed;
        top: 60px;
        left: 20px;
    }

    .exit-symbol-light {
        position: fixed;
        top: 60px;
        left: 20px;
        background-color: rgb(245, 223, 189);
        border-radius: 50%;
        padding: 2px;
    }

    .timer-symbol {
        position: fixed;
        top: 60px;
        right: 58px;
    }

    .timer-num {
        position: fixed;
        top: 20px;
        right: 18px;
        font-family: Inconsolata, sans-serif;
        font-size: 36px;
        font-weight: 800;
    }

    .desktop-h2-game1-modifier {
        margin-top: -50px;
        margin: -10px;
    }

    .diff-select-all-player-box {
        display: flex;
        flex-direction: row; 
        align-items: center;    
        justify-content: center;
    }

    .diff-select-player-box {
        display: flex;
        flex-direction: column;
        padding: 2rem;
        align-items: center;
    }

    .diff-select-player-box input {
        height: 35px;
        width: 220px;
        font-size: 20px;
    }

    .difficultytext {
        transform: translate(-50%, 0);
    }

    .same-size-image {
        height: 224px;
        width: 192px;
        object-fit: cover;
        border-radius: 0.5em;
    }
}

a {
    text-decoration: none;
}





@media screen and (min-width: 576px) {}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 992px) {}

@media screen and (min-width: 1200px) {}